
body {

  color: brown;
  font-size: 22px;
  text-align: center;

background: linear-gradient(256deg, #faa0b9, #f0b495, #fed1be, #fae9ac, #fcf0e2);
background-size: 1000% 1000%;

{
animation: AnimationName 12s ease infinite;
    }

@keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
}

h1, h3 {

  font-family: 'Philosopher', sans-serif;
    font-weight: normal;
    text-align: left;
    line-height: 1;

}

p {

    font-family: 'Fritz', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

li {

  font-family: 'Fritz', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

/* unvisited link */
a:link {
  color: brown;
}

/* visited link */
a:visited {
  color: darkred;
}

/* mouse over link */
a:hover {
  color: lightpink;
}

img {
clip-path: circle(50% at 50% 50%);
}


/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/food/foo-3/foo262.ani), url(http://cur.cursors-4u.net/food/foo-3/foo262.png),
 auto !important;} /* End http://www.cursors-4u.com */
