


body {
        font-family: 'Roboto Slab', serif;
        color: #brown;
        width:700px;
        padding:50px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

p {

    background-color: beige;

}

/* unvisited link */
a: link {

  color: green;
  text-decoration: none;

  }

/* visited link */
a: visited {
  color: pink;
  text-decoration: none;

}

a:link, a:visited {
  background-color: #E8B491;
  color: beige;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
