

body {

        
        font-family: 'Roboto Slab', serif;

        width:700px;

        padding:50px;

        margin-top: 50px;

        margin-left: auto;

        margin-right: auto;

        text-align:center;
}



p { background-color: dark-green;

}
