

body { background: lightyellow;
      color: ivory;

}


.ScrollStyle
{
    position: fixed;
    max-height: 100vh;
    overflow-y: scroll;

}

.letter {
    position: relative;
    margin: 10vw;
    display: grid;
  }

/* letters */

/* letter A */

.A-bowl {
  width: 60vw;
  height: 60vh;
  background-color: yellow;
  position: fixed;
}

.A-stem {
    width: 30vw;
    height: 90vh;
    background-color: green;
    position: fixed;
}

.A-circle {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
}

/* letter B */

.B-bowl {
  width: 60vw;
  height: 60vh;
  background-color: lightgreen;
  position: fixed;
}

.B-stem {
    width: 30vw;
    height: 90vh;
    background-color: black;
    position: fixed;
}

.B-circle {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
}

/* letter C */

.C {
      width: 30vw;
      height: 30vh;
      background-color: pink;
}

.C-circle {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
}


/* letter D */

.D-bowl {
  width: 60vw;
  height: 60vh;
  background-color: gray;
  position: fixed;

}
.D-stem {
  width: 30vw;
  height: 90vh;
  background-color: white;
  position: fixed;

}

.D-circle {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: fixed;

}

.E {
      padding: 20px;
      transition: ease all;
      width: 300px;
      height: 300px;
      position: relative;
  }

.F {
        padding: 20px;
        transition: ease all;
        width: 300px;
        height: 300px;
        position: relative;
    }

.G {
          padding: 20px;
          transition: ease all;
          width: 300px;
          height: 300px;
          position: relative;
      }


.H {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
            }
