

body {  background: #FFDA88;
        padding-top: 5em;
        padding-bottom: 5em;
        padding-left: 5em;
        padding-right: 5em;
}

/* grid */

.letter {
    display: grid;
    position: relative;
  }

  @keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }

.title {
          margin-bottom: 10em;
          width: inherit;
  }
/* letters */

/* letter A */

#A {
    display: inline-grid;
    padding: 12vh;
  }

.A-bowl {
          height: 5em;
          width: 5em;
          background-color: beige;
          border-radius: 10%;
        }

#A-stem {
          height: 2em;
          width: 0em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 1em;
          padding-bottom: 2em;
          margin-left: 9em;
          margin-top: 4.5em;

        }

#A-circle {
            height: 0em;
            width: 0em;
            border: solid 10px #D88850;
            border-radius: 40%;
            background-color: #FFDA88;
            position: absolute;
            padding-left: 1em;
            padding-bottom: 1em;
            margin-left: 5.7em;
            margin-top: 5.7em;
                    }


/* letter B */

#B {
      display: inline-grid;
      padding: 5vh;
}

.B-bowl {
          height: 5em;
          width: 5em;
          background-color: beige;
          border-radius: 10%;
}

#B-stem {
          height: 4em;
          width: 0em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-right: 1em;
          padding-bottom: 2em;
          margin-right: 10em;

}

#B-circle {
            height: 0em;
            width: 0em;
            border: solid 10px #D88850;
            border-radius: 40%;
            background-color: #FFDA88;
            position: absolute;
            padding-left: 1em;
            padding-bottom: 1em;
            margin-left: -3.8em;
            margin-top: 1.3em;
                    }

/* letter C */

#C {
      display: inline-grid;
      padding: 5vh;
}

.C-bowl {
          height: 5em;
          width: 5em;
          background-color: beige;
          border-radius: 10%;
}

img  {
        width: 13em;
        height: 9em;
        position: absolute;
      }

/* letter D */

#D {
      display: inline-grid;
      padding: 5vh;
}

.D-bowl {
          height: 5em;
          width: 5em;
          background-color: beige;
          border-radius: 10%;
}

#D-stem {
          height: 4em;
          width: 0em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 1em;
          padding-bottom: 1.5em;
          margin-left: 6.3em;
}

#D-circle {
            height: 0em;
            width: 0em;
            border: solid 10px #D88850;
            border-radius: 40%;
            background-color: #FFDA88;
            position: absolute;
            padding-left: 1em;
            padding-bottom: 1em;
            margin-left: 3em;
            margin-top: 3em;
            }

/* letter E */

#E {
      display: inline-grid;
      padding: 5vh;
}

.E-bowl {
          height: 5em;
          width: 5em;
          background-color: beige;
          border-radius: 10%;
}

#E-circle {
            height: 0em;
            width: 0em;
            border: solid 10px #D88850;
            border-radius: 40%;
            background-color: #FFDA88;
            position: absolute;
            padding-left: 1em;
            padding-bottom: 1em;
            margin-left: 2.5em;
            margin-top: 2.5em;
            }

img {
          width: 13em;
          height: 9em;
          position: absolute;
}


/* letter F */

#F {
      display: inline-grid;
      padding: 12vh;
}

.F-arms {
          height: 5em;
          width: 5em;
          position: absolute;
          background-color: beige;
          border-radius: 10%;
          margin-bottom: -5em;

        }

#F-stem {
          height: 4.5em;
          width: 0em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 1em;
          padding-bottom: 1em;
          margin-right: 2em;
        }

img {
          width: 13em;
          height: 9em;
          position: absolute;

        }


/* letter G */

#G {
      display: inline-grid;
      padding: 5vh;
}

.G-bowl {
          height: 5em;
          width: 5em;
          background-color: beige;
          border-radius: 10%;

        }

#G-tail1 {

          height: 2.5em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 40%;
          position: absolute;
          transform: rotateZ(180deg);
          margin-left: 4.7em;
          margin-top: 6em;
}

#G-tail2 {

        height: 3em;
        width: 1em;
        background-color: beige;
        position: relative;
        transform: rotateZ(90deg);
        border-radius: 10%;
        padding-left: 3vh;
        padding-bottom: 3vh;
        margin-left: 1em;
        margin-right: 1em;

}

#G-circle {
      height: 0em;
      width: 0em;
      border: solid 10px #D88850;
      border-radius: 40%;
      background-color: #FFDA88;
      position: absolute;
      padding-left: 1em;
      padding-bottom: 1em;
      margin-left: 3em;
      margin-top: 2.5em;

          }

/* letter H */

#H {
      display: inline-grid;
      padding: 5vh;
    }

.H-bowl {
            height: 5em;
            width: 5em;
            background-color: beige;
            border-radius: 10%;
            transform: rotateZ(90deg);

        }

#H-stem {

            height: 4em;
            width: 0em;
            border: solid 10px #D88850;
            border-radius: 10%;
            position: absolute;
            transform: rotateZ(180deg);
            padding-left: 2em;
            padding-bottom: 2em;

        }

/* letter I */

#I {
      display: inline-grid;
      padding: 5vh;
}

.I-stem {
            height: 5em;
            width: 5em;
            background-color: beige;
            border-radius: 10%;

}

#I-dot {
            height: 0em;
            width: 0em;
            border: solid 10px #D88850;
            border-radius: 40%;
            background-color: #FFDA88;
            position: absolute;
            padding-left: 1em;
            padding-bottom: 1em;
            margin-left: 3.3em;

            margin-bottom: 30em;

        }

/* letter J */
#J      {
          display: inline-grid;
          padding: 5vh;
}

.J-stem {

          height: 3em;
          width: 1em;
          background-color: beige;
          position: relative;
          border-radius: 10%;
          padding-left: 3vh;
          padding-bottom: 3vh;
          margin-left: 1em;
          margin-right: 1em;


}

#J-tail  {
          height: 3em;
          width: 1em;
          background-color: beige;
          position: relative;
          transform: rotateZ(90deg);
          border-radius: 10%;
          padding-left: 3vh;
          padding-bottom: 3vh;
          margin-right: 3em;
          margin-bottom: 3em;

}

#J-dot {
            height: 0em;
            width: 0em;
            border: solid 10px #D88850;
            border-radius: 40%;
            background-color: #FFDA88;
            position: absolute;
            padding-left: 1em;
            padding-bottom: 1em;
            margin-left: 2.8em;
            margin-bottom: 8em;

        }


/* letter K */

#K      {
          display: inline-grid;
          padding: 5vh;
}

.K-arms {
  height: 5em;
  width: 5em;
  background-color: beige;
  border-radius: 10%;
  transform: rotateZ(90deg);
}

#K-stem {
          height: 4em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;
          margin-bottom: 1em;
          margin-right: 3em;

}

/* letter L */

#L      {
          display: inline-grid;
          padding: 12vh;
        }

.L-stem {
          height: 7em;
          width: 5em;
          background-color: beige;
          border-radius: 10%;

        }

/* letter M */

#M     {
          display: inline-grid;
          padding: 5vh;
        }

.M-bowl {
          height: 3em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

#M-stem {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;

        }
/* letter N */

#N     {
          display: inline-grid;
          padding: 5vh;
}

.N-bowl {
          height: 3em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

#N-stem {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;

        }

/* letter O */

#O     {
          display: inline-grid;
          padding: 5vh;
}

.O-bowl {
          height: 5em;
          width: 5em;
          background-color: beige;
          border-radius: 10%;

}

#O-circle {
            height: 0em;
            width: 0em;
            border: solid 10px #D88850;
            border-radius: 40%;
            background-color: #FFDA88;
            position: absolute;
            padding-left: 1em;
            padding-bottom: 1em;
            margin-left: 3.3em;
            margin-top: 3em;
                    }

/* letter P */

#P     {
          display: inline-grid;
          padding: 10vh;
}

.P-bowl {
          height: 3em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

#P-stem {
          height: 4em;
          width: 0em;
          background-color: beige;
          border-radius: 10%;

        }

/* letter Q */

#Q     {
          display: inline-grid;
          padding: 5vh;
}

.Q-bowl {
          height: 3em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

#Q-stem {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;

        }

/* letter R */

#R     {
          display: inline-grid;
          padding: 5vh;
}

.R-bowl {
          height: 3em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

#R-stem {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;

        }

/* letter S */

#S    {
          display: inline-grid;
          padding: 5vh;
}

.S-bowl {
          height: 3em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

/* letter T */

#T   {
          display: inline-grid;
          padding: 5vh;
}

.T-stem {
          height: 3em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

#T-counter {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;
        }

/* letter U */

#U   {
          display: inline-grid;
          padding: 5vh;
}

.U-bowl {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;

}

/* letter V */

#V   {
          display: inline-grid;
          padding: 5vh;
}

.V-bowl {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;

}

/* letter W */

#W   {
          display: inline-grid;
          padding: 5vh;
}

.W-bowl {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;

}

/* letter X */

#X   {
          display: inline-grid;
          padding: 5vh;
}

.X-bowl {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;

}

/* letter Y */

#Y   {
          display: inline-grid;
          padding: 5vh;
}

.Y-bowl {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;
          position: relative;

}

.Y-stem {
          height: 3em;
          width: 1em;
          border: solid 5px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

#Y-tail {
          height: 3em;
          width: 1em;
          border: solid 10px #D88850;
          border-radius: 10%;
          position: absolute;
          transform: rotateZ(180deg);
          padding-left: 2em;
          padding-bottom: 2em;

}

/* letter Z */

#Z   {
          display: inline-grid;
          padding: 5vh;
}

.Z-bowl {
          height: 5em;
          width: 6em;
          background-color: beige;
          border-radius: 10%;
          position: relative;

}

/* numbers  */

.circle {
          height: 5em;
          width: 5em;
          border: solid 10px #D88850;
          background-color: beige;
          border-radius: 40%;
}

.rectangle {
          height: 6em;
          width: 4em;
          border: solid 10px #D88850;
          background-color: beige;
          border-radius: 10%;
          position: relative;
          margin-left: 10em;
}

.circle2 {
          height: 3em;
          width: 3em;
          border: solid 10px #D88850;
          background-color: beige;
          border-radius: 40%;
          margin-left: 20em;
          }


.rectangle2 {
          height: 6em;
          width: 4em;
          border: solid 10px #D88850;
          background-color: beige;
          border-radius: 10%;
          position: relative;
          margin-left: 23em;
          padding-bottom: -3em;
          }
