

body { background: lightyellow;
      color: ivory;

}

.container {

  position: relative;
  width: 20%;
  margin: 10vw;
  display: grid;
  float: left;

}

.letter {
    position: relative;
    float: left;
  }

  /* #A { width: 100%;
     min-height: 100vh;
     background-color: white;
   }

       #B, #C, #D, #E, #F, #G, #H, #I,
       #J, #K, #L, #M, #N, #O, #P, #Q,
       #R, #S, #T, #U, #V, #W, #X, #Y, #Z {
         float: left;
         display: inline;
         width: 50%;
       } */

/* letters */

/* letter A */

.A-bowl {
    width: 100%;
    height: 100%;
    background-color: #FFE783;
    display: flex;
    position: relative;
}

.A-stem {
  height: 5vw;
  width: 10vh;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

/* letter B */

.B-bowl {
  width: 60vw;
  height: 60vh;
  background-color: lightgreen;
  position: fixed;
}

/* letter C */

.C {
      width: 30vw;
      height: 30vh;
      background-color: pink;
}

/* letter D */

.D-bowl {
  width: 60vw;
  height: 60vh;
  background-color: gray;
  position: fixed;

}

.D-circle {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: fixed;

}

/* letter E */
.E-square {
              padding: 20px;

}

/* letter F */

.F-stem {
            padding: 20px;

}

.F-top {
            padding: 20px;
}

/* letter G */

.G-bowl {
          padding: 20px;
          width: 300px;
          height: 300px;
          position: relative;
      }

.G-tail {
            padding: 20px;

}

/* letter H */

.H-bowl {
            padding: 20px;
            width: 300px;
            height: 300px;
            position: relative;

}

/* letter I */

.I-stem {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
    }

/* letter J */

.J-tail {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
        }

/* letter K */

.K-square {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
      }
.K-stem {
            padding:
}
/* letter L */

.L-stem {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
      }

/* letter M */
.M-square {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
            }

/* letter N */
.N-stem {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
    }

.N-square {
            padding: 20px;

}

/* letter O */

.O {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
          }

/* letter P */

.P {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
           }

/* letter Q */

.Q {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
                 }

/* letter R */

.R {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
           }

/* letter S */

.S {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
          }

/* letter T */

.T {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
                    }
/* letter U */

.U {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
                      }

/* letter V */

.V {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
                      }

/* letter W */
.W {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
                      }

/* letter X */

.X {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
                      }

/* letter Y */
.Y {
            padding: 20px;
            transition: ease all;
            width: 300px;
            height: 300px;
            position: relative;
                      }

/* letter Z */
.Z-square {
             padding: 20px;
             transition: ease all;
             width: 300px;
             height: 300px;
             position: relative;
                      }
