body {  background: #FFDA88;
        padding-top: 5em;
        padding-bottom: 5em;
        padding-left: 5em;
        padding-right: 5em;
}



.button1 {

    display: flex;
    position: fixed;

    }

#toast {

      display: flex;
      position: absolute;
}
