body {
  font-size: 10pt;
  font-family: Lores-12, sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: ivory;
}

h2 {
  color: #08085B;
  font-weight: 100;
}

.button1 {
  background-color: lightgray;
    border: none;
    border-radius: 10px;
    color: #08085B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
  background-color: lightgray;
    border: none;
    border-radius: 10px;
    color: #08085B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.button3 {
  background-color: lightgray;
    border: none;
    border-radius: 10px;
    color: #08085B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.layer1 {
  background-color: #AFE3DD;
    border: none;
    border-radius: 10px;
    color: #08085B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.layer2 {
  background-color: #FFCCA7;
    border: none;
    border-radius: 10px;
    color: #08085B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.layer3 {
  background-color: #AFE3B7;
    border: none;
    border-radius: 10px;
    color: #08085B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*
.grid-item {
  background-color: lightblue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px 300px 200px;
}
 */


/* #header {
  background: orange;
  grid-column-start: 2;
  grid-column-end: 4;
}

#nav {
  background: yellow;
  grid-column-start: 2;
}

#main {
  background: yellowgreen;
  grid-column-start: 3;
}

#aside {
  background: teal;
  grid-column-start: 2;
}

#footer {
  background: maroon;
  grid-column-start: 3;
} */
