body {
  background-image: "assets/iscrib1.png"
}

.grid-item {
  background-color: lightblue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px 300px 200px;
}

#header {
  background: orange;
  grid-column-start: 2;
  grid-column-end: 4;
}

#nav {
  background: yellow;
  grid-column-start: 2;
}

#main {
  background: yellowgreen;
  grid-column-start: 3;
}

#aside {
  background: teal;
  grid-column-start: 2;
}

#footer {
  background: purple;
  grid-column-start: 3;
}
