
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* desktop */
body {
  background: linear-gradient(172deg, #ffa47e, #ffabbe, #ffc896, #ffefb4);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
      }

@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
                         }

}

#desktop {
    display: inline;
    color: white;
}

img {width:100%;
height:50%;
margin-top:0px}

#tablet,
#mobile,
#print,
#print2
    {
    display: none;
    position: relative;

    }

/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
      background: pink;
    }

    #tablet {
        display: inline;
        color: ivory;
    }
    #desktop,
    #mobile,
    #print,
    #print2
     {
        display: none;
        position: relative;
    }

/* mobile */
@media (max-width: 670px) {
    body {
        background: white;
    }
    #mobile {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #print
    #print2
  {
        display: none;
        position: relative;
    }
}
/* print */
@media print (min-width: 670px) {
    body {
        background: white;
    }
    #print {
        display: block;
        color: ivory;
    }
    #desktop,
    #tablet,
    #mobile,
    #print2
     {
        display: none;
        position: relative;
    }

/* print 2*/
@media print2 (max-width: 670px) {
      body { background: white;
      }
      #print2 {
              display: block;
              color: ivory;
      }
      #desktop,
      #tablet,
      #mobile,
      #print2
      {
        display: none;
      }

}
