
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* desktop */
@media (max-width: 1024px) {

body {
  background: linear-gradient(172deg, #ffa47e, #ffabbe, #ffc896, #ffefb4);
background-size: 800% 800%;

animation: AnimationName 10s ease infinite;
      }

@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
                         }

#desktop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 100vw;
    height: 100vh; */
          }

#tablet,
#mobile,
#print
    {
        display: none;
    }
}

/* tablet */
@media (max-width: 880px) {

    body {
      background: pink;
    }

    #tablet {
      display: flex;
      justify-content: center;
      flex-direction: column;
      /* width: 100vw;
      height: 100vh; */
    }

    #desktop,
    #mobile,
    #print
     {
        display: none;
    }

  }

/* mobile */
@media (max-width: 670px) {
    body {
        background: pink;
    }

    #mobile {
      display: flex;
      justify-content: center;
      flex-direction: column;
      /* width: 100vw;
      height: 100vh; */
    }

    #desktop,
    #tablet,
    #print
  {
        display: none;
    }
}

/* print */
@media (min-width: 670px) {
    body {
        background: ivory;
    }
    #print {
      display: flex;
      justify-content: center;
      flex-direction: column;
      /* width: 100vw;
      height: 100vh; */
    }
    #desktop,
    #tablet,
    #mobile
     {
        display: none;
    }

  }
