
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  background: linear-gradient(172deg, #ffa47e, #ffabbe, #ffc896, #ffefb4);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
      }

@-webkit-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
                                  }

@-moz-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
                              }

@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
                         }

}

#desktop {
    display: inline;
    color: white;
}
#tablet,
#mobile,
#print {
    display: none;
}

/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
      background: linear-gradient(270deg, #981ca7, #ff6565, #ffd065);
background-size: 600% 600%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
    }
    #tablet {
        display: inline;
        color: ivory;
    }
    #desktop,
    #mobile,
    #print {
        display: none;
    }
}
/* mobile */
@media mobile (max-width: 670px) {
    body {
        background: white;
    }
    #mobile {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #print {
        display: none;
    }
}
/* print */
@media print (max-width: 670px){
    body {
        background: white;
    }
    #print {
        display: inline;
        color: ivory;
    }
    #desktop,
    #tablet,
    #mobile {
        display: none;
    }
}
