/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background-image:
          linear-gradient(to right, #FFD83E, #F9A629, #F26E39, #B55065, #66378D)
}

/* shapes */

#circle {

}
