/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background-image:
          linear-gradient(to right, #FFD83E, #F9A629, #F26E39, #B55065, #66378D)
}

/* shapes */

#rect {
        position: absolute;
        padding-left: 300px;
        width: 200px;
        height: 100px;
        border-radius: 50px;
}

#rect2 {
        position: absolute;
        padding-left: 310px;
        width: 100px;
        height: 100px;
        border-radius: 50px;

}

.emoji {
        position: absolute;
        padding-left: 10px;
        padding-bottom: 10px;
        top: 0px;
}
