
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: #E4197A;
}

img {
        position: relative;
        padding-left: 110px;
        padding-right: 95px;
        padding-bottom: 0px;
        width: 280px;
        height:175px;
        top: -90px;
        left: 12px;
        animation: spin;
        animation-duration: 8000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
  }

  div {
  transform: rotate(360deg);
  transform-origin: 100% 100%;
}

/* shapes */

#square {
        width: 500px;
        height: 150px;
        background: #4F479D;
}

  #circle {
            width: 250px;
            height: 250px;
            background: white;
            border-radius: 250px;
            position: absolute;
            top: 25px;
            left: 125px;
          }


  @keyframes spin {
    from {
      transform:rotate(0deg);
    }

    to {
      transform:rotate(360deg);
    }
