
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: red;
}

/* shapes */

#square {
        width: 500px;
        height: 150px;
        background: navy;
}

  #circle {
            width: 200px;
            height: 200px;
            background: white;
            border-radius: 100px;
            position: absolute;
            top: 75px;
            left: 175px;
           }
