
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: #E4197A;
}

/* shapes */

#square {
        width: 500px;
        height: 150px;
        background: #4F479D;
}

  #circle {
            width: 250px;
            height: 250px;
            background: white;
            border-radius: 250px;
            position: absolute;
            top: 25px;
            left: 125px;
           }

  .sun {
        position: absolute;
        padding-left: 110px;
        padding-right: 165px;
        padding-bottom: 120px;
        top: 35px;
        left: 0px;
  }

  svg:hover {
   transform: scale(1.25);
   transition-duration: 1.5s;
}
